USE [master]
GO
/****** Object:  Database [C:\USERS\SHANDEEP.M\DOWNLOADS\MOVIEDETAILS\MOVIEDETAILS\APP_DATA\MOVIEDB.MDF]    Script Date: 3/7/2018 9:03:00 PM ******/
CREATE DATABASE [C:\USERS\SHANDEEP.M\DOWNLOADS\MOVIEDETAILS\MOVIEDETAILS\APP_DATA\MOVIEDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MOVIEDB', FILENAME = N'C:\Users\shandeep.m\Downloads\MovieDetails\MovieDetails\App_Data\MOVIEDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MOVIEDB_log', FILENAME = N'C:\Users\shandeep.m\Downloads\MovieDetails\MovieDetails\App_Data\MOVIEDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\SHANDEEP.M\DOWNLOADS\MOVIEDETAILS\MOVIEDETAILS\APP_DATA\MOVIEDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\SHANDEEP.M\DOWNLOADS\MOVIEDETAILS\MOVIEDETAILS\APP_DATA\MOVIEDB.MDF]
GO
USE [C:\USERS\SHANDEEP.M\DOWNLOADS\MOVIEDETAILS\MOVIEDETAILS\APP_DATA\MOVIEDB.MDF]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 3/7/2018 9:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Sex] [char](10) NOT NULL,
	[DOB] [date] NULL,
	[Bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 3/7/2018 9:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReleasedYear] [int] NULL,
	[Plot] [nvarchar](max) NULL,
	[Poster] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieActorTable]    Script Date: 3/7/2018 9:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieActorTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieProducerTable]    Script Date: 3/7/2018 9:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieProducerTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[ProducerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 3/7/2018 9:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Sex] [char](10) NOT NULL,
	[DOB] [date] NULL,
	[Bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([Id], [Name], [Sex], [DOB], [Bio]) VALUES (1, N'Cyclops', N'M         ', NULL, NULL)
INSERT [dbo].[Actor] ([Id], [Name], [Sex], [DOB], [Bio]) VALUES (2, N'Jean Grey', N'F         ', NULL, NULL)
INSERT [dbo].[Actor] ([Id], [Name], [Sex], [DOB], [Bio]) VALUES (3, N'Iron Man', N'M         ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Name], [ReleasedYear], [Plot], [Poster]) VALUES (2, N'Avengers 33', 2012, N'Loki Got Rekt', NULL)
INSERT [dbo].[Movie] ([Id], [Name], [ReleasedYear], [Plot], [Poster]) VALUES (3, N'Apocalypse 44', 2016, N'apocalypse dude', NULL)
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[MovieActorTable] ON 

INSERT [dbo].[MovieActorTable] ([Id], [MovieId], [ActorId]) VALUES (1, 1, 1)
INSERT [dbo].[MovieActorTable] ([Id], [MovieId], [ActorId]) VALUES (2, 1, 2)
INSERT [dbo].[MovieActorTable] ([Id], [MovieId], [ActorId]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[MovieActorTable] OFF
SET IDENTITY_INSERT [dbo].[MovieProducerTable] ON 

INSERT [dbo].[MovieProducerTable] ([Id], [MovieId], [ProducerId]) VALUES (1, 1, 3)
INSERT [dbo].[MovieProducerTable] ([Id], [MovieId], [ProducerId]) VALUES (2, 2, 2)
INSERT [dbo].[MovieProducerTable] ([Id], [MovieId], [ProducerId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[MovieProducerTable] OFF
SET IDENTITY_INSERT [dbo].[Producer] ON 

INSERT [dbo].[Producer] ([Id], [Name], [Sex], [DOB], [Bio]) VALUES (1, N'x-men producer', N'M         ', NULL, NULL)
INSERT [dbo].[Producer] ([Id], [Name], [Sex], [DOB], [Bio]) VALUES (2, N'avengers producer', N'M         ', NULL, NULL)
INSERT [dbo].[Producer] ([Id], [Name], [Sex], [DOB], [Bio]) VALUES (3, N'prod1', N'M         ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Producer] OFF
ALTER TABLE [dbo].[MovieActorTable]  WITH CHECK ADD  CONSTRAINT [FK_MovieActorTable_ToTable] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[MovieActorTable] CHECK CONSTRAINT [FK_MovieActorTable_ToTable]
GO
ALTER TABLE [dbo].[MovieActorTable]  WITH CHECK ADD  CONSTRAINT [FK_MovieActorTable_ToTable_1] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actor] ([Id])
GO
ALTER TABLE [dbo].[MovieActorTable] CHECK CONSTRAINT [FK_MovieActorTable_ToTable_1]
GO
ALTER TABLE [dbo].[MovieProducerTable]  WITH CHECK ADD  CONSTRAINT [FK_MovieProducerTable_ToTable] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[MovieProducerTable] CHECK CONSTRAINT [FK_MovieProducerTable_ToTable]
GO
ALTER TABLE [dbo].[MovieProducerTable]  WITH CHECK ADD  CONSTRAINT [FK_MovieProducerTable_ToTable_1] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producer] ([Id])
GO
ALTER TABLE [dbo].[MovieProducerTable] CHECK CONSTRAINT [FK_MovieProducerTable_ToTable_1]
GO
USE [master]
GO
